*,*::before, *:after {
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #0d0d0d;
    font-family: "Jost", sans-serif;
    color: #fff;
}
:root{
    --accept-color:#C7A17A;
}
img{
    display: block;
}
a{
    text-decoration: none;
    color: #fff;
}

.btn{
    min-width: 200px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border-radius: 10px;
    transition: background-color .2s ease;
    border: 0;
    cursor: pointer;
    color: white;

    
}
.btn-main{
    background-color: var(--accept-color);
}

.btn-secondary{
    border: 1px solid #666681;
}

.btn-main:hover{
    background-color: #a88666;
}
.btn-secondary:hover{
    background-color: #666681;
}

.btn-full{
    width: 100%;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.header{
    border-bottom: 1px solid #32323D;
}
.header__line-wrapper{
    display: flex;
    justify-content: space-between;
    height: 30px;
    align-items: center;
}
.header_line{
    border-bottom: 1px solid #32323D;
}

.header__lng{
    display: flex;

}

.header__lng a {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    margin-right: 10px;
}

.header__lng a.activ{
    color: var(--accept-color);
}
.header__phone{
    font-weight: 600;
    font-size: 14px;
}


/* nav */

.header__wrapper {
    height: 90px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.header__block {
   width: 40%;
}
.header__block.right{
    display: flex;
    justify-content: flex-end;
}

.nav {
    display: flex;
}
.nav__link {
    margin-right: 35px;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    transition: color .2s ease;
}

.nav__link:hover{
    color: var(--accept-color);
}

.nav__link.active{
    color: var(--accept-color);
}
.logo {
}

.logo img{
    height: 54px;
}


.header__actions{
    display: flex;
    align-items: center;
}

.header__link{
    margin-right: 30px;
    position: relative;
}

.header__link:last-child{
    margin-right: 0;
}

.header__link-event{
    display: block;
    width: 6px;
    height: 6px;
    background-color: var(--accept-color);
    border-radius: 50%;
    position: absolute;
    top: -3px;
    right: -3px;
}


/*  intro */

.intro {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 60px;
}

.intro::after{
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top:0;
    left: 0;
    background-color: rgba(2, 2, 4, 0.55);
}
.intro_block {
    max-width: 565px;
}
.intro_title {
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.4;
    max-width: 0 0 35px;
}

.intro_text{
   font-size: 18px;
   color: #DFDFDF;
   margin: 0 0 35px; 
}
.intro_actions{
    display: flex;
}
.intro_actions .btn-main {
    margin-right: 20px;
}

.intro__wrapper{
    padding: 20px 0;
    min-height: 720px;
    align-items: center;
    display: flex;
    position: relative;
    z-index: 2;
}


/* banner */

.info_block {
    display: flex;
    background-color:#14141D;
    border-radius: 10px;
    margin-bottom: 80px;
   /*  overflow: hidden; */
}

.info_img{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.info_item {
    padding: 30px;
}
.info_title {
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 15px;
    line-height: 1;
}
.info_text {
    font-size: 18px;
    color: #DFDFDF;
    line-height: 1.45;
    max-width: 500px;

}

.info_img__wrapper{
    position: relative;

}
.info_img__wrapper::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    background-color: rgba(2, 2, 4, 0.55);
}


/* catalog */

.block__title {
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 40px;
    margin: 0 0 40px;
}


.products_wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px 60px;
}
.products__block {
    width: 33.33%;
    padding: 0 10px;
}
.product__item {
    transition: background-color .2s ease;
    border-radius: 10px;
    padding: 20px;
    display: block;
    background-color: #14141D;
    margin-bottom: 20px;
}

.product__item:hover{
    background-color: #22222F;
}
.product__img{
    max-height: 200px;
    margin: 0 auto 40px;
    display: block;
    max-width: 100px;
}
.products__title {
    margin:  0 0 25px;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.4;
}
.products__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.products__price {
    font-size: 18px;
    display: flex;
}

.products__price del {
    margin-left: 30px;
    color: #818181;
}
.products__favorite {
    background: none;
    padding: 0;
    border: 0;
    cursor: pointer;
}


/* news */


.news__wpappwer {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px 60px;

}
.news__block {
    width: 33.33%;
    padding: 0 10px;
    margin-bottom: 20px;
}

.news__item{
    min-height: 100%;
    display: block;
    background-color: #14141D;
    transition: background-color .2s ease;
    border-radius: 10px;
}
.news__item:hover{
    background-color: #22222F;
}

.news_content{
    padding: 20px;

}

.news__img{
    height: 240px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.news__title{
    margin:  0 0 10px;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.4;
}

.news_text{
    margin: 0;
}


/* footer */

.footer {
    border-top: 2px solid #14141D;
    padding-top: 80px;
}
.footer__wrapper {
    display: flex;
    margin: 0 -10px;
}
.footer__block {
    width: 33.33%;
    padding: 0 10px;
}
.footer_logo {
}

.nav-footer{
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 60px;
}

.nav-footer .nav__link{
    margin-right: 0;
    margin-bottom: 20px;

}


/* product */

.product {
    padding-top: 100px;
}

.product .block__title {
    font-size: 60px;
    margin-bottom: 50px;
}
.block__title {
}
.product__wrapper {
    display: flex;
    margin: 0 -10px 80px;

}

.product__pic{
    height: 400px;
    max-width: 100%;
    display: block;
    margin: 0 auto;

}
.product__image {
    flex: 1;
    padding: 10px;

}
.product__item {
    background-color: #14141D;
    border-radius: 10px;
    padding: 30px;
    list-style: 1.4;
}

.product__item ul{
    margin: 0;
    font-size: 18px;
}

.product__item .product__image{
    padding: 60px;
}
.product__info {
    width: 420px;
    padding: 10px;
}
.product__price {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    margin-bottom: 30px;

}



.product__price del{
    margin-left: 30px;
    color: #818181;
}
.product__form {
}

.radio__wrapper{
    display: flex;
    margin-bottom: 30px;
}
.radio {
    margin-right: 10px;
    position: relative;

}
.radio__input {
    opacity: 0;
    position: absolute;
   
}

.radio__input:checked + .radio_label{
    color: #C7A17A;
    border-color: #C7A17A;
}

.radio_label {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:2px solid #fff;
    border-radius: 5px;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    transition: color .2s ease;

}

.radio_label:hover{
    color: #C7A17A;
}


.product_footer {
    margin-bottom: 80px;
}
.block__title {
    font-size: 24px;
    margin-bottom: 30x;
}

